header{
    margin-left: 900px;
}
main{
    display: flex;
    flex-direction: column;
    margin-left: 560px;
}
.s{
    width: 188px;
height: 234.5px;
gap: 0px;
opacity: 0px;
margin-left: 40px;

}
.d{
width: 280px;
height: 70px;
}